// Policy file for acc01j
keystore "file:${user.home}/classkeystore", "pkcs12";
keystorePasswordURL "file:/C:/Users/rseacord/kspass.txt";

grant codeBase "file:${user.home}/git/JavaSCR/-" {
  // required to view all granted permissions
  permission java.lang.RuntimePermission "getProtectionDomain";
  permission java.security.SecurityPermission "getPolicy";
  // try "write" first, followed by "read, write"
  // permission java.util.PropertyPermission "acc01j.lib.options", "write";
  // permission java.util.PropertyPermission "acc01j.lib.options", "read, write";
};
grant codeBase "file:${user.home}/java/-" {
  permission java.util.PropertyPermission "acc01j.lib.options", "read";
};